.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 20px;
  left: 50%;

  transform: translate(-50%);
}

.header-logo-svg {
  width: 168px;
  height: 16px;
}

.header-burger-button-svg {
  width: 32px;
  height: 32px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container {
    top: 32px;
  }

  .header-logo-svg {
    width: 216px;
    height: 20px;
  }

  .header-burger-button-svg {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header-burger-button {
    display: none;
  }
  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-navigation-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  .header-navigation-links {
    border: 1px solid #fbfbfb;
    border-radius: 12px;

    padding: 12px;

    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    background-color: transparent;
  }
  .header-navigation-links:hover,
  .header-navigation-links:focus {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .header-button {
    border-radius: 30px;
    padding: 16px 32px;

    background-color: #7a3145;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }
  .header-button:hover,
  .header-button:focus {
    background-color: #fbfbfb;
    color: #7a3145;
  }
}
